<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<% filteredComments = @comments.select do |comment|
  comment.tweet_id == current_tweet_id
end %>

<div class="comment-container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h3><%= filteredComments.count %> comments:</h3>
      </div>

      <div class="comments-list">

        <% filteredComments.each do |comment| %>

          <% commenter = @users.find(comment.user_id) %>

          <div>
            <div>
              <%= image_tag("avatar_comment.png", size: "50x50", class: "rounded-circle float-left mr-3") %>
              <div>
                <b class="font-weight-bold">
                  <%= commenter.email %>
                  <small>(<%= time_ago_in_words(comment.created_at) %>)</small>
                </b>
                <br>
                <%= comment.body %>
                <br>
                <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
              </div>
            </div>

          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>