<%= form_with scope: :tweet, url: tweets_path, local: true do |form| %>
  <p>
    <%= form.label :Owner %><br>
  </p>

  <p>
    <%= form.label :context %><br>
    <%= form.text_area :context %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.inspect %></td>

    <td></td>
<% end %>
</tr>
