<%= form_for @new_tweet, local: true do |form| %>
  <p>
    <%= form.label :Owner %><br>
  </p>

  <p>
    <%= form.label :context %><br>
    <%= form.text_area :context %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<table>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.inspect %></td>
    </tr>
    <tr>
      <td>
        aaaaaaaa <%tweet.user.id %>
        <%= form_for @new_comment, local: true do |form| %>
          <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
          </p>

          <p>
            <%= form.submit name: :id, value: tweet.id %>
          </p>
        <% end %>

      </td>
    </tr>
  <% end %>
</table>
